*{
    background-color: grey;
  }
  #navbar{
    display : flex;
    justify-content : space-around;
    font-size : 25px;
  top :0;
  position : fixed;
  width : 100%;
  }
  .nav-links{
     display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: black;
      padding: 10px 20px;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1000;
  }
  #welcome-section{
    padding-top:150px;
    padding-bottom : 150px;
    margin : 50px;
    text-align : center;
    border : 1px solid black;
   
    
  }
  #role{
    font-size : 30px;
  }
  @media min-width : 600px{
    background-color: black;
  }