#navbar{
    display : flex;
    justify-content : space-around;
    font-size : 25px;
    top :0;
    width : 100%;
    margin : auto;
   }
.nav-links{
     display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(247, 215, 133);
      padding: 10px 20px;
      width: 100%;
      top: 0;
      z-index: 1000;
}
#welcome-section{
    padding-top:10px;
    padding-bottom : 10px;
    
}
#role{
    font-size : 30px;
}
@media min-width : 600px{
    background-color: black;
}
#footer{
    font-size: large;
}
.nav{
  display: flex;
  margin: auto;
}
#projects .div{
  margin: 10px;
}
body{
  background-color: rgba(238, 238, 110, 0.223);
}